<nav class="p-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        [routerLink]="['/']"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <img
          class="bi me-2"
          width="40"
          height="40"
          role="img"
          aria-label="Bootstrap"
          src="../../assets/images/logo.png"
        />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a [routerLink]="['/']" class="nav-link px-2 link-secondary">Nombre</a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle link-dark"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorias
          </a>
          <ul class="dropdown-menu">
            <app-item-navbar *ngFor="let categoria of categorias" [categoria]="categoria" ></app-item-navbar>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/productos']" class="nav-link px-2 link-dark"
            >Productos</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Buscar..."
          aria-label="Search"
        />
      </form>

      <button [routerLink]="['/signup']" type="button" class="btn btn-success me-2">Registrarse</button>

      <button [routerLink]="['/login']" type="button" class="btn btn-outline-success me-2">
        Iniciar Sesión
      </button>
    </div>
  </div>
</nav>
