.carousel-inner img {
    max-height: 480px;
}

.mt-6 {
    margin-top: 4rem;

}

.img-cover {
    object-fit: cover;
}

.invertir-color {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media (max-width: 768px) {
    .mx-0-max-sm {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .mx-lg-10 {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

@media (min-width: 1320px) {
    .ps-xxl-10 {
        padding-left: 8.5rem !important;
    }
}

@media (min-width: 768px) {
    .rounded-lg-start {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }
}

@media (max-width: 768px) {
    .rounded-md-top {
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
}

