<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
      {{producto?.estadoPublicacion}}
    </div>
    <!-- Product image-->
    <img [routerLink]="['vista', producto.id]" class="card-img-top " src={{producto?.urlImagen}} alt="..." style="object-fit: cover; width: 100%; height: 260px;"/>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">

        <!-- Product name-->
        <h5 class="fw-bolder"> {{producto?.nombre}}  </h5>
        <!-- Product reviews-->
        <div class="d-flex justify-content-center small text-warning mb-2">
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
        </div>
        <!-- Product price-->
        <!-- span class="text-muted text-decoration-line-through">$ 22.00 </span> -->
        ${{producto.precioTotal}}
      </div>
    </div>

    <!-- Product actions-->
    <div class="card-footer px-4 py-0 border-top-0 bg-transparent">
      <div *ngIf="true">
      <div class="row">
        <div class="col-12 col-md-4 text-center mb-2 mb-md-0 text-md-end">
          <button (click)="addtoCart()" class="btn btn-success mt-auto" >
            <img
              style="-webkit-filter: invert(100%);
              filter: invert(100%);"
              src="../../../assets/images/carro-de-la-carretilla.png"
              alt="carrito"
              width="20"
              height="20">
          </button>
        </div>
        <div class="col-12 col-md-8">
         <div class="text-center"><a [routerLink]="['vista', producto.id]" class="btn btn-outline-dark mt-auto" >Ver producto</a></div>
        </div>
      </div>
    </div>

    <div *ngIf="false" class="text-center"><a (click)="addtoCart()" class="btn btn-outline-dark mt-auto" >Agregar al carrito</a></div>

    </div>
     <p class="text-center color-secundary mt-2" style="font-size: 0.8rem;" > Tienda: {{producto.vendedor.nombreTienda}} </p>
  </div>
</div>
